<!DOCTYPE html>
 <html>
    <head>
        <title>COVID-19 TRACKER</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
<body style="background: #c2e59c; background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  
background: linear-gradient(to right, #64b3f4, #c2e59c);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.who.int/countries/ind/en/">WHO<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19 WIKIPEDIA</a>
            </li>
          </ul>
      
        </div>
      </nav>
      